body {
    background-color: #292b2c;
    color: #f7f7f7;
}
input {
    display: inline-block;
    float: right;
}


  .jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
    text-decoration-color: #f7f7f7;
  }

